In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("sales_data_final.csv")
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [3]:
df.head()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Office Supplies,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.036,9.72,Medium,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Office Supplies,Storage,"Tenex Box, Single Width",66,4,0.0,29.640,8.17,High,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Office Supplies,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.770,4.70,Medium,2011

In [4]:
df.tail()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,category,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Office Supplies,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014

In [5]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year'],
      dtype='object')

In [6]:
df["order_id"]

0           AG-2011-2040
1          IN-2011-47883
2           HU-2011-1220
3        IT-2011-3647632
4          IN-2011-47883
              ...
51285     CA-2014-115427
51286       MO-2014-2560
51287     MX-2014-110527
51288     MX-2014-114783
51289     CA-2014-156720
Name: order_id, Length: 51290, dtype: object

In [7]:
type(df["order_id"])

pandas.core.series.Series

In [8]:
df[["order_id","profit",'shipping_cost', 'customer_name']]

              order_id    profit  shipping_cost     customer_name
0         AG-2011-2040  106.1400          35.46   Toby Braunhardt
1        IN-2011-47883   36.0360           9.72       Joseph Holt
2         HU-2011-1220   29.6400           8.17     Annie Thurman
3      IT-2011-3647632  -26.0550           4.82      Eugene Moren
4        IN-2011-47883   37.7700           4.70       Joseph Holt
...                ...       ...            ...               ...
51285   CA-2014-115427    4.5188           0.89        Erica Bern
51286     MO-2014-2560    0.4200           0.49         Liz Preis
51287   MX-2014-110527   12.3600           0.35  Charlotte Melton
51288   MX-2014-114783    0.5600           0.20     Tamara Dahlen
51289   CA-2014-156720   -0.6048           0.17     Jill Matthias

[51290 rows x 4 columns]

In [9]:
type(df[["order_id","profit"]])

pandas.core.frame.DataFrame

In [10]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [11]:
df.describe()

           quantity      discount        profit  shipping_cost          year
count  51290.000000  51290.000000  51290.000000   51290.000000  51290.000000
mean       3.476545      0.142908     28.641740      26.375915   2012.777208
std        2.278766      0.212280    174.424113      57.296804      1.098931
min        1.000000      0.000000  -6599.978000       0.000000   2011.000000
25%        2.000000      0.000000      0.000000       2.610000   2012.000000
50%        3.000000      0.000000      9.240000       7.790000   2013.000000
75%        5.000000      0.200000     36.810000      24.450000   2014.000000
max       14.000000      0.850000   8399.976000     933.570000   2014.000000

In [12]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
dtype: object

In [13]:
df.dtypes[df.dtypes == object]

order_id          object
order_date        object
ship_date         object
ship_mode         object
customer_name     object
segment           object
state             object
country           object
market            object
region            object
product_id        object
category          object
sub_category      object
product_name      object
sales             object
order_priority    object
dtype: object

In [14]:
# giving me a list of all the data types of objects 
df.dtypes[df.dtypes == object].index

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'order_priority'],
      dtype='object')

In [15]:
df[df.dtypes[df.dtypes == object].index]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,OFF-TEN-10000025,Office Supplies,Storage,"Tenex Lockers, Blue",408,Medium
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,OFF-SU-10000618,Office Supplies,Supplies,"Acme Trimmer, High Speed",120,Medium
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,OFF-TEN-10001585,Office Supplies,Storage,"Tenex Box, Single Width",66,High
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,OFF-PA-10001492,Office Supplies,Paper,"Enermax Note Cards, Premium",45,High
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,FUR-FU-10003447,Furniture,Furnishings,"Eldon Light Bulb, Duo Pack",114,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,OFF-BI-10002103,Office Supplies,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,Medium
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,OFF-WIL-10001069,Office Supplies,Binders,"Wilson Jones Hole Reinforcements, Clear",4,Medium
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,OFF-LA-10004182,Office Supplies,Labels,"Hon Color Coded Labels, 5000 Label Set",26,Medium
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,OFF-LA-10000413,Office Supplies,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,Medium
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,OFF-FA-10003472,Office Supplies,Fasteners,Bagged Rubber Bands,3,Medium

In [16]:
df[df.dtypes[df.dtypes == object].index].describe()

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,product_id,category,sub_category,product_name,sales,order_priority
count,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290,51290
unique,25035,1430,1464,4,795,3,1094,147,7,13,10292,3,17,3788,2246,4
top,CA-2014-100111,6/18/2014,11/22/2014,Standard Class,Muhammed Yedwab,Consumer,California,United States,APAC,Central,OFF-AR-10003651,Office Supplies,Binders,Staples,13,Medium
freq,14,135,130,30775,108,26518,2001,9994,11002,11117,35,31273,6152,227,589,29433

In [17]:
df.dtypes[df.dtypes == float].index

Index(['discount', 'profit', 'shipping_cost'], dtype='object')

In [18]:
df[df.dtypes[df.dtypes == float].index]

       discount    profit  shipping_cost
0           0.0  106.1400          35.46
1           0.1   36.0360           9.72
2           0.0   29.6400           8.17
3           0.5  -26.0550           4.82
4           0.1   37.7700           4.70
...         ...       ...            ...
51285       0.2    4.5188           0.89
51286       0.0    0.4200           0.49
51287       0.0   12.3600           0.35
51288       0.0    0.5600           0.20
51289       0.2   -0.6048           0.17

[51290 rows x 3 columns]

In [19]:
# data extraction
df["order_id"][1:4]

1      IN-2011-47883
2       HU-2011-1220
3    IT-2011-3647632
Name: order_id, dtype: object

In [20]:
df[["order_id"]][1:4]

          order_id
1    IN-2011-47883
2     HU-2011-1220
3  IT-2011-3647632

In [21]:
df["category1"] = "sonu"

In [22]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,sonu
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Supplies,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,sonu
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,Storage,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,sonu
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,sonu
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,Furnishings,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,sonu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,Binders,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,sonu
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,Binders,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,sonu
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,Labels,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,sonu
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,Labels,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,sonu
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Fasteners,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,sonu

In [23]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1'],
      dtype='object')

In [24]:
# Detect missing values.
df["order_id"].isnull()

0        False
1        False
2        False
3        False
4        False
         ...
51285    False
51286    False
51287    False
51288    False
51289    False
Name: order_id, Length: 51290, dtype: bool

In [25]:
df[df["profit"] == max(df['profit'])]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
29530,CA-2013-118689,10/3/2013,10/10/2013,Standard Class,Tamara Chand,Corporate,Indiana,United States,US,Central,...,Copiers,Canon imageCLASS 2200 Advanced Copier,"17,500",5,0.0,8399.976,349.07,Medium,2013,sonu

In [26]:
df[df["profit"] == max(df['profit'])]["customer_name"]

29530    Tamara Chand
Name: customer_name, dtype: object

In [27]:
df[df["country"] == "Sweden"]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,Paper,"Enermax Note Cards, Premium",45,3,0.5,-26.055,4.82,High,2011,sonu
168,IT-2011-5951216,1/13/2011,1/20/2011,Standard Class,Stuart Calhoun,Consumer,VÂ„stra GÂ”taland,Sweden,EU,North,...,Art,"Sanford Pens, Fluorescent",31,5,0.5,-13.650,2.16,Medium,2011,sonu
477,IT-2011-5645183,2/3/2011,2/5/2011,Second Class,Max Ludwig,Home Office,Uppsala,Sweden,EU,North,...,Art,"Boston Pencil Sharpener, Easy-Erase",91,6,0.5,-61.650,6.64,Medium,2011,sonu
1342,IT-2011-5233011,3/31/2011,4/6/2011,Standard Class,Todd Sumrall,Corporate,VÂ„stra GÂ”taland,Sweden,EU,North,...,Furnishings,"Advantus Photo Frame, Durable",40,2,0.6,-44.052,2.78,Medium,2011,sonu
1554,IT-2011-2419493,4/12/2011,4/13/2011,First Class,Alice McCarthy,Corporate,Stockholm,Sweden,EU,North,...,Phones,"Nokia Headset, VoIP",73,2,0.5,-11.760,22.18,High,2011,sonu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50948,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Accessories,"Belkin Flash Drive, Bluetooth",21,1,0.5,-5.460,0.98,Medium,2014,sonu
50949,IT-2014-5217096,12/26/2014,12/31/2014,Standard Class,Trudy Glocke,Consumer,Stockholm,Sweden,EU,North,...,Furnishings,"Advantus Photo Frame, Durable",20,1,0.6,-22.026,0.98,Medium,2014,sonu
50972,IT-2014-4046179,12/27/2014,12/30/2014,Second Class,Jeremy Farry,Consumer,Stockholm,Sweden,EU,North,...,Appliances,"KitchenAid Refrigerator, Black","1,582",6,0.5,-443.070,55.39,Medium,2014,sonu
51086,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Art,"BIC Pens, Fluorescent",31,4,0.5,-10.680,8.44,High,2014,sonu
51121,IT-2014-2362249,12/29/2014,1/1/2015,First Class,Mitch Gastineau,Corporate,Stockholm,Sweden,EU,North,...,Art,"Sanford Highlighters, Blue",8,1,0.5,-6.165,2.00,High,2014,sonu

In [28]:
len(df[df["country"] == "Sweden"])

203

In [29]:
df[df['shipping_cost']>20]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,Storage,"Tenex Lockers, Blue",408,2,0.0,106.140,35.46,Medium,2011,sonu
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,Machines,"Okidata Inkjet, Wireless",314,1,0.0,3.120,24.10,Medium,2011,sonu
7,IN-2011-79397,1/3/2011,1/3/2011,Same Day,Kean Nguyen,Corporate,New South Wales,Australia,APAC,Oceania,...,Appliances,"Hoover Microwave, White",276,1,0.1,110.412,125.32,Critical,2011,sonu
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.4,-319.464,107.10,Low,2011,sonu
9,IZ-2011-4680,1/3/2011,1/7/2011,Standard Class,Lindsay Williams,Corporate,Ninawa,Iraq,EMEA,EMEA,...,Chairs,"Novimex Swivel Stool, Set of Two",667,4,0.0,253.320,81.26,High,2011,sonu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51241,ES-2014-3638865,12/31/2014,1/1/2015,First Class,Susan Vittorini,Consumer,England,United Kingdom,EU,North,...,Storage,"Fellowes Shelving, Single Width",289,5,0.0,75.150,34.47,Critical,2014,sonu
51242,MX-2014-141712,12/31/2014,12/31/2014,Same Day,Rick Bensley,Home Office,Managua,Nicaragua,LATAM,Central,...,Chairs,"Novimex Chairmat, Set of Two",78,2,0.0,35.920,25.16,Critical,2014,sonu
51243,IN-2014-78627,12/31/2014,1/4/2015,Standard Class,Maureen Gnade,Consumer,Jilin,China,APAC,North Asia,...,Accessories,"Memorex Memory Card, Erganomic",300,3,0.0,84.060,23.96,Medium,2014,sonu
51244,IT-2014-3715679,12/31/2014,1/5/2015,Second Class,Jim Kriz,Home Office,North Brabant,Netherlands,EU,Central,...,Machines,"StarTech Phone, Red",108,3,0.5,-19.395,22.09,High,2014,sonu
51245,IN-2014-75603,12/31/2014,1/5/2015,Second Class,Bill Shonely,Corporate,Andhra Pradesh,India,APAC,Central Asia,...,Accessories,"Memorex Keyboard, Erganomic",277,4,0.0,105.000,21.84,Medium,2014,sonu

In [30]:
df[df["shipping_cost"] > 80]['country']

7          Australia
8        New Zealand
9               Iraq
27            Brazil
43            Mexico
            ...
51154      Indonesia
51228         Brazil
51229      Indonesia
51230         Russia
51231       Thailand
Name: country, Length: 3984, dtype: object

In [31]:
df[(df["shipping_cost"] > 100) & (df['profit'] < 10) ]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sub_category,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1
8,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,Copiers,"Hewlett Wireless Fax, Laser",912,4,0.40,-319.464,107.10,Low,2011,sonu
257,MX-2011-146584,1/21/2011,1/27/2011,Standard Class,Hunter Lopez,Consumer,Managua,Nicaragua,LATAM,Central,...,Tables,"Chromcraft Conference Table, Fully Assembled","2,797",6,0.20,-0.072,320.38,Low,2011,sonu
451,ES-2011-1640672,2/2/2011,2/5/2011,First Class,Ken Heidel,Corporate,Saxony,Germany,EU,Central,...,Phones,"Motorola Signal Booster, Cordless",584,8,0.50,-58.560,109.14,High,2011,sonu
625,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Phones,"Nokia Signal Booster, with Caller ID",921,9,0.25,-172.125,128.01,Low,2011,sonu
626,ID-2011-47575,2/15/2011,2/21/2011,Standard Class,Christopher Martinez,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,Copiers,"Brother Fax Machine, High-Speed","1,235",6,0.35,-456.174,118.63,Low,2011,sonu
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50781,CA-2014-147956,12/25/2014,1/1/2015,Standard Class,Alan Hwang,Consumer,Washington,United States,US,West,...,Storage,Office Impressions Heavy Duty Welded Shelving ...,"1,004",6,0.00,0.000,121.83,Low,2014,sonu
50969,US-2014-120166,12/27/2014,12/31/2014,Standard Class,Frank Hawley,Corporate,Valle del Cauca,Colombia,LATAM,South,...,Tables,"Barricks Training Table, Rectangular",842,5,0.20,-200.080,120.11,High,2014,sonu
50970,ES-2014-4296634,12/27/2014,1/2/2015,Standard Class,Harry Marie,Corporate,Brittany,France,EU,Central,...,Appliances,"Hamilton Beach Microwave, White","1,010",4,0.10,-44.940,108.27,Low,2014,sonu
51034,ID-2014-68183,12/29/2014,12/31/2014,First Class,Adam Hart,Corporate,Victoria,Australia,APAC,Oceania,...,Appliances,"Hoover Stove, Red","1,535",3,0.10,-102.411,255.42,Medium,2014,sonu
51153,ID-2014-51509,12/30/2014,1/1/2015,Second Class,Naresj Patel,Consumer,Australian Capital Territory,Australia,APAC,Oceania,...,Chairs,"Harbour Creations Rocking Chair, Black",434,5,0.40,-166.470,124.63,Critical,2014,sonu

In [32]:
df.dtypes

order_id           object
order_date         object
ship_date          object
ship_mode          object
customer_name      object
segment            object
state              object
country            object
market             object
region             object
product_id         object
category           object
sub_category       object
product_name       object
sales              object
quantity            int64
discount          float64
profit            float64
shipping_cost     float64
order_priority     object
year                int64
category1          object
dtype: object

In [33]:
df['order_date']

0          1/1/2011
1          1/1/2011
2          1/1/2011
3          1/1/2011
4          1/1/2011
            ...
51285    12/31/2014
51286    12/31/2014
51287    12/31/2014
51288    12/31/2014
51289    12/31/2014
Name: order_date, Length: 51290, dtype: object

In [34]:
data = pd.to_datetime(df['order_date'])
data

0       2011-01-01
1       2011-01-01
2       2011-01-01
3       2011-01-01
4       2011-01-01
           ...
51285   2014-12-31
51286   2014-12-31
51287   2014-12-31
51288   2014-12-31
51289   2014-12-31
Name: order_date, Length: 51290, dtype: datetime64[ns]

In [35]:
type(data[0])

pandas._libs.tslibs.timestamps.Timestamp

In [36]:
df["converted_order_date"] =  pd.to_datetime(df['order_date'])

In [37]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,product_name,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,"Tenex Lockers, Blue",408,2,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Acme Trimmer, High Speed",120,3,0.1,36.0360,9.72,Medium,2011,sonu,2011-01-01
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,"Tenex Box, Single Width",66,4,0.0,29.6400,8.17,High,2011,sonu,2011-01-01
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,"Enermax Note Cards, Premium",45,3,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,"Eldon Light Bulb, Duo Pack",114,5,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,"Cardinal Slant-D Ring Binder, Heavy Gauge Vinyl",14,2,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,"Wilson Jones Hole Reinforcements, Clear",4,1,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,"Hon Color Coded Labels, 5000 Label Set",26,3,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,"Hon Legal Exhibit Labels, Alphabetical",7,1,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,Bagged Rubber Bands,3,3,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31

In [38]:
df.columns

Index(['order_id', 'order_date', 'ship_date', 'ship_mode', 'customer_name',
       'segment', 'state', 'country', 'market', 'region', 'product_id',
       'category', 'sub_category', 'product_name', 'sales', 'quantity',
       'discount', 'profit', 'shipping_cost', 'order_priority', 'year',
       'category1', 'converted_order_date'],
      dtype='object')

In [39]:
df.dtypes

order_id                        object
order_date                      object
ship_date                       object
ship_mode                       object
customer_name                   object
segment                         object
state                           object
country                         object
market                          object
region                          object
product_id                      object
category                        object
sub_category                    object
product_name                    object
sales                           object
quantity                         int64
discount                       float64
profit                         float64
shipping_cost                  float64
order_priority                  object
year                             int64
category1                       object
converted_order_date    datetime64[ns]
dtype: object

In [40]:
df['order_date_year'] = df["converted_order_date"].dt.year

In [41]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,sales,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,408,2,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,120,3,0.1,36.0360,9.72,Medium,2011,sonu,2011-01-01,2011
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,66,4,0.0,29.6400,8.17,High,2011,sonu,2011-01-01,2011
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,45,3,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01,2011
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,114,5,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,14,2,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,4,1,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,26,3,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,7,1,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,3,3,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014

In [42]:
df['order_date_month'] = df["converted_order_date"].dt.month

In [43]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,quantity,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,2,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011,1
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,3,0.1,36.0360,9.72,Medium,2011,sonu,2011-01-01,2011,1
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,4,0.0,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,3,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01,2011,1
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,5,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,2,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,1,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,3,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,1,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,3,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12

In [44]:
df['order_date_week'] = df["converted_order_date"].dt.week

/var/folders/d4/vrqxqq1s1pv5l1d9x4mz_m6c0000gn/T/ipykernel_84705/1677341396.py:1: FutureWarning: Series.dt.weekofyear and Series.dt.week have been deprecated. Please use Series.dt.isocalendar().week instead.
  df['order_date_week'] = df["converted_order_date"].dt.week

In [45]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.0360,9.72,Medium,2011,sonu,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12,1

In [46]:
df[["converted_order_date","order_date_month"]]

      converted_order_date  order_date_month
0               2011-01-01                 1
1               2011-01-01                 1
2               2011-01-01                 1
3               2011-01-01                 1
4               2011-01-01                 1
...                    ...               ...
51285           2014-12-31                12
51286           2014-12-31                12
51287           2014-12-31                12
51288           2014-12-31                12
51289           2014-12-31                12

[51290 rows x 2 columns]

In [47]:
df[df["order_date_year"] == 2014]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
33759,ES-2014-2774938,1/1/2014,1/3/2014,Second Class,Fred Harton,Consumer,Ile-de-France,France,EU,Central,...,0.15,-111.6225,104.69,High,2014,sonu,2014-01-01,2014,1,1
33760,IN-2014-47134,1/1/2014,1/5/2014,Standard Class,Kean Nguyen,Corporate,Victoria,Australia,APAC,Oceania,...,0.10,46.9980,46.20,Medium,2014,sonu,2014-01-01,2014,1,1
33761,IT-2014-4810734,1/1/2014,1/3/2014,Second Class,Alan Shonely,Consumer,Ile-de-France,France,EU,Central,...,0.15,-43.1370,37.85,Critical,2014,sonu,2014-01-01,2014,1,1
33762,US-2014-105830,1/1/2014,1/3/2014,First Class,Duane Benoit,Consumer,Ohio,United States,US,East,...,0.20,-35.2152,30.66,High,2014,sonu,2014-01-01,2014,1,1
33763,CA-2014-160395,1/1/2014,1/7/2014,Standard Class,Kelly Lampkin,Corporate,Nevada,United States,US,West,...,0.20,53.9217,26.90,Low,2014,sonu,2014-01-01,2014,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.20,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.00,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.00,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.00,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.20,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12,1

In [48]:
df['order_date_month'].value_counts()

11    6342
12    6302
9     5975
6     5331
8     5078
10    4490
5     3747
7     3166
4     3057
3     3035
1     2599
2     2168
Name: order_date_month, dtype: int64

In [49]:
df["cost_to_company"] = df["discount"] + df["shipping_cost"]

In [50]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week,cost_to_company
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011,1,52,35.46
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,36.0360,9.72,Medium,2011,sonu,2011-01-01,2011,1,52,9.82
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1,52,8.17
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,-26.0550,4.82,High,2011,sonu,2011-01-01,2011,1,52,5.32
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011,1,52,4.80
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12,1,1.09
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12,1,0.49
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12,1,0.35
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12,1,0.20
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12,1,0.37

In [51]:
df[df["cost_to_company"] == max(df["cost_to_company"])]["product_name"]

13891    Plantronics CS510 - Over-the-Head monaural Wir...
Name: product_name, dtype: object

In [52]:
#axis : {0 or 'index', 1 or 'columns'}, default 0
# Whether to drop labels from the index (0 or 'index') or columns (1 or 'columns').

df = df.drop("cost_to_company",axis = 1)

In [53]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.0360,9.72,Medium,2011,sonu,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12,1

In [54]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011,1,52
1,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,36.0360,9.72,Medium,2011,sonu,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12,1

In [55]:
df.drop(1,inplace=True)

In [56]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011,1,52
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,15.3420,1.80,Medium,2011,sonu,2011-01-01,2011,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12,1

In [57]:
df.loc[1:4,['order_id','order_date']]

          order_id order_date
2     HU-2011-1220   1/1/2011
3  IT-2011-3647632   1/1/2011
4    IN-2011-47883   1/1/2011

In [58]:
df.loc[2:200:4]

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.00,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1,52
6,CA-2011-1510,1/2/2011,1/6/2011,Standard Class,Magdelene Morse,Consumer,Ontario,Canada,Canada,Canada,...,0.00,3.1200,24.10,Medium,2011,sonu,2011-01-02,2011,1,52
10,IN-2011-65159,1/3/2011,1/7/2011,Second Class,Larry Blacks,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,0.45,-122.8005,33.75,High,2011,sonu,2011-01-03,2011,1,1
14,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,0.40,-95.6760,10.07,Low,2011,sonu,2011-01-03,2011,1,1
18,ID-2011-80230,1/3/2011,1/9/2011,Standard Class,Ken Lonsdale,Consumer,Auckland,New Zealand,APAC,Oceania,...,0.40,-26.4120,8.17,Low,2011,sonu,2011-01-03,2011,1,1
22,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,0.00,8.7000,5.16,Medium,2011,sonu,2011-01-03,2011,1,1
26,IR-2011-770,1/3/2011,1/7/2011,Standard Class,Jas O'Carroll,Consumer,Yazd,Iran,EMEA,EMEA,...,0.00,4.1700,0.54,Medium,2011,sonu,2011-01-03,2011,1,1
30,ES-2011-4939443,1/4/2011,1/8/2011,Standard Class,Arthur Prichep,Consumer,RhÂ“ne-Alpes,France,EU,Central,...,0.00,20.8800,10.78,Medium,2011,sonu,2011-01-04,2011,1,1
34,MX-2011-159373,1/4/2011,1/8/2011,Standard Class,Arthur Wiediger,Home Office,Santiago de Cuba,Cuba,LATAM,Caribbean,...,0.00,6.8800,4.25,Medium,2011,sonu,2011-01-04,2011,1,1
38,CA-2011-103800,1/4/2011,1/8/2011,Standard Class,Darren Powers,Consumer,Texas,United States,US,Central,...,0.20,5.5512,1.82,High,2011,sonu,2011-01-04,2011,1,1
42,SU-2011-5190,1/4/2011,1/8/2011,Standard Class,Jasper Cacioppo,Consumer,Khartoum,Sudan,Africa,Africa,...,0.00,2.1000,0.51,Medium,2011,sonu,2011-01-04,2011,1,1
46,CA-2011-112326,1/5/2011,1/9/2011,Standard Class,Phillina Ober,Home Office,Illinois,United States,US,Central,...,0.20,-64.7748,13.59,High,2011,sonu,2011-01-05,2011,1,1
50,ES-2011-5496179,1/6/2011,1/9/2011,Second Class,Shahid Hopkins,Consumer,Ile-de-France,France,EU,Central,...,0.00,35.6400,39.98,High,2011,sonu,2011-01-06,2011,1,1
54,ID-2011-41632,1/6/2011,1/13/2011,Standard Class,Robert Dilbeck,Home Office,Ho ChÂ¡ Minh City,Vietnam,APAC,Southeast Asia,...,0.17,11.5893,2.45,Medium,2011,sonu,2011-01-06,2011,1,1
58,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,Maria Etezadi,Home Office,Kentucky,United States,US,South,...,0.00,746.4078,258.99,High,2011,sonu,2011-01-07,2011,1,1
62,ID-2011-58670,1/7/2011,1/11/2011,Standard Class,Maribeth Schnelling,Consumer,National Capital,Philippines,APAC,Southeast Asia,...,0.25,-136.7100,46.97,High,2011,sonu,2011-01-07,2011,1,1
66,LE-2011-9590,1/7/2011,1/11/2011,Standard Class,Harry Marie,Corporate,Beirut,Lebanon,EMEA,EMEA,...,0.00,71.4600,23.84,High,2011,sonu,2011-01-07,2011,1,1
70,ES-2011-5433855,1/7/2011,1/8/2011,First Class,Dave Poirier,Corporate,Provence-Alpes-CÂ“te d'Azur,France,EU,Central,...,0.10,36.2280,5.72,Medium,2011,sonu,2011-01-07,2011,1,1
74,MX-2011-135629,1/7/2011,1/7/2011,Same Day,Dorothy Dickinson,Consumer,S?o Paulo,Brazil,LATAM,South,...,0.00,2.4000,3.69,High,2011,sonu,2011-01-07,2011,1,1
78,CA-2011-167199,1/7/2011,1/11/2011,Standard Class,Maria Etezadi,Home Office,Kentucky,United States,US,South,...,0.00,0.3112,2.19,High,2011,sonu,2011-01-07,2011,1,1
82,IT-2011-5134922,1/7/2011,1/10/2011,First Class,Joy Smith,Consumer,Groningen,Netherlands,EU,Central,...,0.50,-0.1050,0.28,Medium,2011,sonu,2011-01-07,2011,1,1
86,MX-2011-121202,1/8/2011,1/13/2011,Second Class,Christopher Martinez,Consumer,Guatemala,Guatemala,LATAM,Central,...,0.00,182.5200,33.67,Medium,2011,sonu,2011-01-08,2011,1,1
90,NI-2011-4770,1/8/2011,1/11/2011,Second Class,Joe Elijah,Consumer,Lagos,Nigeria,Africa,Africa,...,0.70,-4.5420,0.82,High,2011,sonu,2011-01-08,2011,1,1
94,ID-2011-46483,1/9/2011,1/13/2011,Standard Class,Sample Company A,Home Office,Calabarzon,Philippines,APAC,Southeast Asia,...,0.45,-2.9775,10.08,High,2011,sonu,2011-01-09,2011,1,1
98,ID-2011-46483,1/9/2011,1/13/2011,Standard Class,Sample Company A,Home Office,Calabarzon,Philippines,APAC,Southeast Asia,...,0.45,-1.7175,0.69,High,2011,sonu,2011-01-09,2011,1,1
102,HU-2011-1380,1/10/2011,1/10/2011,Same Day,Elpida Rittenbach,Corporate,Budapest,Hungary,EMEA,EMEA,...,0.00,276.6000,114.15,Critical,2011,sonu,2011-01-10,2011,1,2
106,HU-2011-1380,1/10/2011,1/10/2011,Same Day,Elpida Rittenbach,Corporate,Budapest,Hungary,EMEA,EMEA,...,0.00,23.4000,52.91,Critical,2011,sonu,2011-01-10,2011,1,2
110,IT-2011-3659171,1/10/2011,1/14/2011,Standard Class,Greg Guthrie,Corporate,England,United Kingdom,EU,North,...,0.50,-41.2650,14.65,Medium,2011,sonu,2011-01-10,2011,1,2
114,IN-2011-61302,1/10/2011,1/11/2011,First Class,Dan Lawera,Consumer,Queensland,Australia,APAC,Oceania,...,0.10,12.0960,5.54,Medium,2011,sonu,2011-01-10,2011,1,2
118,HU-2011-1380,1/10/2011,1/10/2011,Same Day,Elpida Rittenbach,Corporate,Budapest,Hungary,EMEA,EMEA,...,0.00,2.6100,2.59,Critical,2011,sonu,2011-01-10,2011,1,2
122,ID-2011-13660,1/10/2011,1/15/2011,Second Class,Brian Dahlen,Consumer,Bangkok,Thailand,APAC,Southeast Asia,...,0.47,-5.6826,1.04,Medium,2011,sonu,2011-01-10,2011,1,2
126,US-2011-163874,1/11/2011,1/12/2011,First Class,Philip Fox,Consumer,MÂ‚xico,Mexico,LATAM,North,...,0.00,238.0000,103.84,Medium,2011,sonu,2011-01-11,2011,1,2
130,US-2011-163874,1/11/2011,1/12/2011,First Class,Philip Fox,Consumer,MÂ‚xico,Mexico,LATAM,North,...,0.00,88.0000,39.11,Medium,2011,sonu,2011-01-11,2011,1,2
134,IN-2011-39308,1/11/2011,1/18/2011,Standard Class,David Flashing,Consumer,Jawa Barat,Indonesia,APAC,Southeast Asia,...,0.27,2.4735,15.77,Medium,2011,sonu,2011-01-11,2011,1,2
138,ES-2011-1466305,1/11/2011,1/15/2011,Standard Class,Mick Brown,Consumer,Vienna,Austria,EU,Central,...,0.00,31.0200,7.99,High,2011,sonu,2011-01-11,2011,1,2
142,CA-2011-149020,1/11/2011,1/16/2011,Standard Class,Anthony Jacobs,Corporate,Virginia,United States,US,South,...,0.00,21.2954,3.52,Medium,2011,sonu,2011-01-11,2011,1,2
146,CA-2011-149020,1/11/2011,1/16/2011,Standard Class,Anthony Jacobs,Corporate,Virginia,United States,US,South,...,0.00,1.3583,0.22,Medium,2011,sonu,2011-01-11,2011,1,2
150,ES-2011-1460199,1/12/2011,1/19/2011,Standard Class,Roy Phan,Corporate,Lower Saxony,Germany,EU,Central,...,0.00,20.8800,28.92,Medium,2011,sonu,2011-01-12,2011,1,2
154,CA-2011-130092,1/12/2011,1/15/2011,First Class,Seth Vernon,Consumer,Delaware,United States,US,East,...,0.00,3.0814,2.69,Critical,2011,sonu,2011-01-12,2011,1,2
158,NI-2011-1670,1/12/2011,1/16/2011,Standard Class,Shaun Chance,Corporate,Lagos,Nigeria,Africa,Africa,...,0.70,-21.6480,0.62,Medium,2011,sonu,2011-01-12,2011,1,2
162,EG-2011-4270,1/13/2011,1/18/2011,Standard Class,Roger Demir,Consumer,Aswan,Egypt,Africa,Africa,...,0.00,134.8800,76.60,Medium,2011,sonu,2011-01-13,2011,1,2
166,EG-2011-4270,1/13/2011,1/18/2011,Standard Class,Roger Demir,Consumer,Aswan,Egypt,Africa,Africa,...,0.00,17.2200,2.66,Medium,2011,sonu,2011-01-13,2011,1,2
170,IT-2011-5340302,1/13/2011,1/19/2011,Standard Class,Greg Matthias,Consumer,South Holland,Netherlands,EU,Central,...,0.50,-12.3000,1.29,Medium,2011,sonu,2011-01-13,2011,1,2
174,CA-2011-162775,1/14/2011,1/16/2011,Second Class,Chris Selesnick,Corporate,Louisiana,United States,US,South,...,0.00,34.3548,146.29,Critical,2011,sonu,2011-01-14,2011,1,2
178,ES-2011-1043483,1/14/2011,1/19/2011,Standard Class,Sharelle Roach,Home Office,Vienna,Austria,EU,Central,...,0.00,65.8800,49.92,High,2011,sonu,2011-01-14,2011,1,2
182,MX-2011-168599,1/14/2011,1/15/2011,First Class,Ted Butterfield,Consumer,Baja California,Mexico,LATAM,North,...,0.00,18.9600,26.23,High,2011,sonu,2011-01-14,2011,1,2
186,TU-2011-4040,1/14/2011,1/18/2011,Standard Class,Bruce Degenhardt,Consumer,Gaziantep,Turkey,EMEA,EMEA,...,0.60,-54.9720,11.53,Medium,2011,sonu,2011-01-14,2011,1,2
190,TU-2011-4040,1/14/2011,1/18/2011,Standard Class,Bruce Degenhardt,Consumer,Gaziantep,Turkey,EMEA,EMEA,...,0.60,-85.3320,5.84,Medium,2011,sonu,2011-01-14,2011,1,2
194,CA-2011-162775,1/14/2011,1/16/2011,Second Class,Chris Selesnick,Corporate,Louisiana,United States,US,South,...,0.00,5.3392,2.88,Critical,2011,sonu,2011-01-14,2011,1,2
198,CA-2011-118192,1/14/2011,1/19/2011,Standard Class,Michael Moore,Consumer,Ohio,United States,US,East,...,0.70,-2.5212,0.27,Medium,2011,sonu,2011-01-14,2011,1,2

In [59]:
df.iloc[1:10,2:5]

   ship_date       ship_mode     customer_name
2   1/5/2011    Second Class     Annie Thurman
3   1/5/2011    Second Class      Eugene Moren
4   1/8/2011  Standard Class       Joseph Holt
5   1/8/2011  Standard Class       Joseph Holt
6   1/6/2011  Standard Class   Magdelene Morse
7   1/3/2011        Same Day       Kean Nguyen
8   1/9/2011  Standard Class      Ken Lonsdale
9   1/7/2011  Standard Class  Lindsay Williams
10  1/7/2011    Second Class      Larry Blacks

In [60]:
df2 = df[df.dtypes[(df.dtypes == 'float64') | (df.dtypes == "int")].index]

In [61]:
df3 = df2[df2>100]

In [62]:
df3.dropna()

Empty DataFrame
Columns: [quantity, discount, profit, shipping_cost, year, order_date_year, order_date_month, order_date_week]
Index: []

In [63]:
df3.dropna(axis = 1)

       year  order_date_year
0      2011             2011
2      2011             2011
3      2011             2011
4      2011             2011
5      2011             2011
...     ...              ...
51285  2014             2014
51286  2014             2014
51287  2014             2014
51288  2014             2014
51289  2014             2014

[51289 rows x 2 columns]

In [64]:
# Require that many non-NA values.
df3.dropna(thresh = 3)

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,NaN,NaN,106.140,NaN,2011,2011,NaN,NaN
7,NaN,NaN,110.412,125.32,2011,2011,NaN,NaN
8,NaN,NaN,NaN,107.10,2011,2011,NaN,NaN
9,NaN,NaN,253.320,NaN,2011,2011,NaN,NaN
12,NaN,NaN,290.430,NaN,2011,2011,NaN,NaN
...,...,...,...,...,...,...,...,...
51234,NaN,NaN,216.720,NaN,2014,2014,NaN,NaN
51236,NaN,NaN,180.240,NaN,2014,2014,NaN,NaN
51245,NaN,NaN,105.000,NaN,2014,2014,NaN,NaN
51252,NaN,NaN,166.440,NaN,2014,2014,NaN,NaN
51269,NaN,NaN,153.090,NaN,2014,2014,NaN,NaN

In [65]:
df3.fillna(value = 4)

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,4.0,4.0,106.14,4.0,2011,2011,4.0,4.0
2,4.0,4.0,4.00,4.0,2011,2011,4.0,4.0
3,4.0,4.0,4.00,4.0,2011,2011,4.0,4.0
4,4.0,4.0,4.00,4.0,2011,2011,4.0,4.0
5,4.0,4.0,4.00,4.0,2011,2011,4.0,4.0
...,...,...,...,...,...,...,...,...
51285,4.0,4.0,4.00,4.0,2014,2014,4.0,4.0
51286,4.0,4.0,4.00,4.0,2014,2014,4.0,4.0
51287,4.0,4.0,4.00,4.0,2014,2014,4.0,4.0
51288,4.0,4.0,4.00,4.0,2014,2014,4.0,4.0
51289,4.0,4.0,4.00,4.0,2014,2014,4.0,4.0

In [66]:
df3.fillna(value = df3['profit'].mean())

,quantity,discount,profit,shipping_cost,year,order_date_year,order_date_month,order_date_week
0,285.710477,285.710477,106.140000,285.710477,2011,2011,285.710477,285.710477
2,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
3,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
4,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
5,285.710477,285.710477,285.710477,285.710477,2011,2011,285.710477,285.710477
...,...,...,...,...,...,...,...,...
51285,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51286,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51287,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51288,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477
51289,285.710477,285.710477,285.710477,285.710477,2014,2014,285.710477,285.710477

# Groupby Operations

In [69]:
df

,order_id,order_date,ship_date,ship_mode,customer_name,segment,state,country,market,region,...,discount,profit,shipping_cost,order_priority,year,category1,converted_order_date,order_date_year,order_date_month,order_date_week
0,AG-2011-2040,1/1/2011,1/6/2011,Standard Class,Toby Braunhardt,Consumer,Constantine,Algeria,Africa,Africa,...,0.0,106.1400,35.46,Medium,2011,sonu,2011-01-01,2011,1,52
2,HU-2011-1220,1/1/2011,1/5/2011,Second Class,Annie Thurman,Consumer,Budapest,Hungary,EMEA,EMEA,...,0.0,29.6400,8.17,High,2011,sonu,2011-01-01,2011,1,52
3,IT-2011-3647632,1/1/2011,1/5/2011,Second Class,Eugene Moren,Home Office,Stockholm,Sweden,EU,North,...,0.5,-26.0550,4.82,High,2011,sonu,2011-01-01,2011,1,52
4,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,37.7700,4.70,Medium,2011,sonu,2011-01-01,2011,1,52
5,IN-2011-47883,1/1/2011,1/8/2011,Standard Class,Joseph Holt,Consumer,New South Wales,Australia,APAC,Oceania,...,0.1,15.3420,1.80,Medium,2011,sonu,2011-01-01,2011,1,52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51285,CA-2014-115427,12/31/2014,1/4/2015,Standard Class,Erica Bern,Corporate,California,United States,US,West,...,0.2,4.5188,0.89,Medium,2014,sonu,2014-12-31,2014,12,1
51286,MO-2014-2560,12/31/2014,1/5/2015,Standard Class,Liz Preis,Consumer,Souss-Massa-DraÂƒ,Morocco,Africa,Africa,...,0.0,0.4200,0.49,Medium,2014,sonu,2014-12-31,2014,12,1
51287,MX-2014-110527,12/31/2014,1/2/2015,Second Class,Charlotte Melton,Consumer,Managua,Nicaragua,LATAM,Central,...,0.0,12.3600,0.35,Medium,2014,sonu,2014-12-31,2014,12,1
51288,MX-2014-114783,12/31/2014,1/6/2015,Standard Class,Tamara Dahlen,Consumer,Chihuahua,Mexico,LATAM,North,...,0.0,0.5600,0.20,Medium,2014,sonu,2014-12-31,2014,12,1
51289,CA-2014-156720,12/31/2014,1/4/2015,Standard Class,Jill Matthias,Consumer,Colorado,United States,US,West,...,0.2,-0.6048,0.17,Medium,2014,sonu,2014-12-31,2014,12,1

In [74]:
df.groupby("order_date_year")["profit"].mean()

order_date_year
2011    27.665308
2012    28.043722
2013    29.604519
2014    28.758540
Name: profit, dtype: float64

In [77]:
df['sales'] = df.sales.str.replace(',' , "").astype(int)

In [79]:
df.groupby("order_date_year")["sales"].mean()

order_date_year
2011    251.127153
2012    244.252235
2013    246.819335
2014    245.282129
Name: sales, dtype: float64

In [82]:
df.groupby("order_date_year")["shipping_cost"].mean()

order_date_year
2011    27.149201
2012    25.861329
2013    26.418577
2014    26.268197
Name: shipping_cost, dtype: float64